<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>Это позволит найти друзей внутри приложения. Контакты хранятся на наших серверах, другие пользователи не получат к ним доступ</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Это необходимо для отправки количества ваших шагов для участник в соревнованиях</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Это необходимо для получения количества ваших шагов для участник в соревнованиях</string>
	<key>UIAppFonts</key>
	<array>
		<string>Geometria-Regular.ttf</string>
		<string>Geometria-Medium.ttf</string>
		<string>Geometria-Light.ttf</string>
		<string>Geometria-Bold.ttf</string>
	</array>
</dict>
</plist>
